[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Sample_Code
[access "refs/*"]
	owner = group userid/140572
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group userid/140572
	label-Verified = -1..+1 group userid/140572
	push = group userid/140572
	read = group userid/140572
	rebase = group userid/140572
	removeReviewer = group userid/140572
	submit = group userid/140572
[access "refs/heads/*"]
	create = group userid/140572
	push = +force group userid/140572
	pushMerge = group userid/140572
	read = group userid/140572
[access "refs/tags/*"]
	push = group userid/140572
	push = +force group userid/140572
